@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;400;500;700&display=swap');

*{
    margin: 0;
  font-family: "poppins", sans-serif;
  transition:all 0.2s ease-in-out;
}